# .env.example
GEMINI_API_KEY=
EMAIL_USER=ytmindfuelshorts@gmail.com
EMAIL_PASS=yyih jbug hyys jkko
FEEDBACK_TARGET_EMAIL=ytmindfuelshorts@gmail.com
VITE_FIREBASE_API_KEY=AIzaSyDKgFibOIl4qngKGyMeTJrBG2HC5QlGQsA
VITE_FIREBASE_AUTH_DOMAIN=timevora-40aa8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=timevora-40aa8
VITE_FIREBASE_STORAGE_BUCKET=timevora-40aa8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=67219700156
VITE_FIREBASE_APP_ID=1:67219700156:web:106ec864a7b5e29dbc13b9
VITE_FIREBASE_MEASUREMENT_ID=G-9C47JTVD2W
